body {
  margin: 0;
  background: #000;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}



.wrapper {
  margin: auto; 
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

/* there's an odd white line underneath the video clip. this hides it for now. */

.line-hider {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #000;
}

a {
    display: inline-block;
    position: relative;
    margin: 1em;
    padding: 0.67em;
    overflow: hidden;
    text-decoration: none;
    font-size: 2em;
    outline: none;
    color: #fcfcfc;
    background: transparent;
    font-family: 'Roboto', sans-serif;
}

a span {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

a:before,
a:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .2s,opacity .3s;
    -moz-transition: .2s,opacity .3s;
    -o-transition: .2s,opacity .3s;
    transition: .2s,opacity .3s;
}

a:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

a:hover span,
a:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

/* show :before pseudo-element on :hover and :after pseudo-element on :active */

a:hover:before,
a:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
